.container {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bgsoft);
  margin: 5px;
}

.eventContainer {
  color: var(--text);
  padding: 5px;
  border: 1px solid var(--text);
  border-radius: 10px;
}

.message {
  text-align: center;
  font-style: italic;
  color: #cbd5e1;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 5px;
}

.delete {
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #ef4444;
  text-align: center;
}
